body {
    margin: 50px;
}
.bgrd {
    background-color: tomato;
    height: 50px;
}
.bgbl {
    background-color:skyblue;
    height: 30px;
}
.bggr {
    background-color:olive;
    height: 30px;
}
.bgyl {
    background-color:gold;
    height: 30px;
}